body {
    font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  }
  
  li {
    list-style: none;
  }

header {
    height:80px;
    width: 100%;
    background-color: rgb(134, 207, 134);
    color:white;
    position:fixed;
    top:0;
    z-index:10;
}
.header-logo {
    float:left;
    font-size:20px;
    padding:10px 20px;
}
.header-list a {
    float:left;
    font-size:12px;
    padding:30px 20px;  
}

.header-list:hover {
    color: rgba(255, 255, 255, 0.7);
}

.header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.2);
    transition:all 0.5s;
  }

.header-right:hover {
    background-color:rgba(255, 255, 255, 0.5);
}

.header-right a {
    line-height:65px;
    padding:10px 25px;
    color:white;
    display:block;
  }


.section-title {
    border-bottom:2px solid #dee7ec;
    padding:100px 20px 20px 0;
    font-size:20px;
}

main {
    height:800px;
}
.main-title h1{
    font-size:40px;
    padding-top:100px;
}

footer{
    background-color: #2f5167;
    color: #fff;
    height:200px;
  }
  .footer-logo {
    float:left;
    padding:40px;
    font-size:30px;
  }
  .footer-list {
    float:right;
    padding:30px;
  }
  .footer-list li{
    padding:10px;
  }
